In [1]:
import numpy as np
import pandas as pd

In [2]:
ratings = pd.read_csv("IMDBdatasets/title.ratings.tsv", sep="\t")

In [3]:
ratings.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      2110
1  tt0000002            5.6       284
2  tt0000003            6.5      2138
3  tt0000004            5.3       182
4  tt0000005            6.2      2866

In [4]:
ratings.dtypes

tconst            object
averageRating    float64
numVotes           int64
dtype: object

In [5]:
ratings.loc[ratings["tconst"] == "tt0944947"]

           tconst  averageRating  numVotes
450466  tt0944947            9.2   2379409

In [6]:
ratings_new = ratings.loc[(ratings["numVotes"] > 5000) & (ratings["averageRating"] > 6.5)]

In [7]:
ratings_new

            tconst  averageRating  numVotes
9        tt0000010            6.8      7797
11       tt0000012            7.4     13240
13       tt0000014            7.1      6030
300      tt0000417            8.1     57497
310      tt0000439            7.3     21554
...            ...            ...       ...
1514788  tt9906260            9.7    139812
1514959  tt9913012            7.8      5180
1514960  tt9913014            8.1      5046
1514961  tt9913018            8.8      5372
1515092  tt9913754            7.3      5426

[17574 rows x 3 columns]

In [8]:
ratings_new.loc[ratings_new["tconst"] == "tt0944947"]

           tconst  averageRating  numVotes
450466  tt0944947            9.2   2379409

In [9]:
basics = pd.read_csv("IMDBdatasets/title.basics.tsv", sep="\t")

C:\Users\nithi\AppData\Local\Temp\ipykernel_20752\3250224482.py:1: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  basics = pd.read_csv("IMDBdatasets/title.basics.tsv", sep="\t")

In [10]:
basics["startYear"] = basics["startYear"].replace("\\N", np.nan)
basics = basics.dropna(subset=["startYear"])
basics["startYear"] = basics["startYear"].astype("Int64")
print(basics.info())

<class 'pandas.core.frame.DataFrame'>
Index: 9911035 entries, 0 to 11329467
Data columns (total 9 columns):
 #   Column          Dtype
---  ------          -----
 0   tconst          object
 1   titleType       object
 2   primaryTitle    object
 3   originalTitle   object
 4   isAdult         object
 5   startYear       Int64
 6   endYear         object
 7   runtimeMinutes  object
 8   genres          object
dtypes: Int64(1), object(8)
memory usage: 765.6+ MB
None

In [11]:
basics = basics.loc[(basics["titleType"].isin(["movie"])) & (basics["startYear"] > 2000)]

In [12]:
basics

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
11632,tt0011801,movie,TÃ¶tet nicht mehr,TÃ¶tet nicht mehr,0,2019,\N,\N,"Action,Crime"
34795,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,\N,118,"Comedy,Fantasy,Romance"
61104,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020,\N,70,Drama
65872,tt0067226,movie,"Hut ab, wenn du kÃ¼ÃŸt!","Hut ab, wenn du kÃ¼ÃŸt!",0,2025,\N,87,"Comedy,Musical,Romance"
67656,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,\N,122,Drama
...,...,...,...,...,...,...,...,...,...
11329359,tt9916622,movie,Rodolpho TeÃ³philo - O Legado de um Pioneiro,Rodolpho TeÃ³philo - O Legado de um Pioneiro,0,2015,\N,57,Documentary
11329386,tt9916680,movie,De la ilusiÃ³n al desconcierto: cine colombiano...,De la ilusiÃ³n al desconcierto: cine colombiano...,0,2007,\N,100,Documentary
11329398,tt9916706,movie,Dankyavar Danka,Dankyavar Danka,0,2013,\N,\N,Comedy
11329408,tt9916730,movie,6 Gunn,6 Gunn,0,2017,\N,116,Drama
11329418,tt9916754,movie,Chico Albuquerque - RevelaÃ§Ãµes,Chico Albuquerque - RevelaÃ§Ãµes,0,2013,\N,49,Documentary

In [13]:
ratings_new = ratings_new.loc[ratings_new["tconst"].isin(basics["tconst"])]

In [14]:
df = pd.DataFrame()

In [15]:
basics_selected = basics[["tconst", "titleType", "primaryTitle", "genres"]]
basics_selected

,tconst,titleType,primaryTitle,genres
11632,tt0011801,movie,TÃ¶tet nicht mehr,"Action,Crime"
34795,tt0035423,movie,Kate & Leopold,"Comedy,Fantasy,Romance"
61104,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,Drama
65872,tt0067226,movie,"Hut ab, wenn du kÃ¼ÃŸt!","Comedy,Musical,Romance"
67656,tt0069049,movie,The Other Side of the Wind,Drama
...,...,...,...,...
11329359,tt9916622,movie,Rodolpho TeÃ³philo - O Legado de um Pioneiro,Documentary
11329386,tt9916680,movie,De la ilusiÃ³n al desconcierto: cine colombiano...,Documentary
11329398,tt9916706,movie,Dankyavar Danka,Comedy
11329408,tt9916730,movie,6 Gunn,Drama
11329418,tt9916754,movie,Chico Albuquerque - RevelaÃ§Ãµes,Documentary

In [16]:
ratings_selected = ratings_new[["tconst", "averageRating"]]

In [17]:
ratings_selected

            tconst  averageRating
47932    tt0069049            6.7
90590    tt0118926            6.8
92072    tt0120679            7.3
92074    tt0120681            6.7
92114    tt0120737            8.9
...            ...            ...
1513503  tt9873892            6.6
1513801  tt9881586            8.2
1513900  tt9883832            7.6
1513911  tt9883996            6.9
1514621  tt9900782            8.4

[5233 rows x 2 columns]

In [18]:
ratings_selected.loc[ratings_selected["tconst"] == "tt0944947"]

Empty DataFrame
Columns: [tconst, averageRating]
Index: []

In [68]:
combined_df = ratings_selected.merge(basics_selected, on="tconst", how="inner")
combined_df

,tconst,averageRating,titleType,primaryTitle,genres
0,tt0069049,6.7,movie,The Other Side of the Wind,Drama
1,tt0118926,6.8,movie,The Dancer Upstairs,"Crime,Drama,Thriller"
2,tt0120679,7.3,movie,Frida,"Biography,Drama,Romance"
3,tt0120681,6.7,movie,From Hell,"Crime,Horror,Mystery"
4,tt0120737,8.9,movie,The Lord of the Rings: The Fellowship of the Ring,"Adventure,Drama,Fantasy"
...,...,...,...,...,...
5228,tt9873892,6.6,movie,They Cloned Tyrone,"Comedy,Mystery,Sci-Fi"
5229,tt9881586,8.2,movie,Rascal Does Not Dream of a Dreaming Girl,"Animation,Drama,Fantasy"
5230,tt9883832,7.6,movie,Moonage Daydream,"Biography,Documentary,History"
5231,tt9883996,6.9,movie,Dream Horse,"Biography,Comedy,Drama"
5232,tt9900782,8.4,movie,Kaithi,"Action,Crime,Thriller"

In [69]:
combined_df["genres"] = combined_df["genres"].apply(
    lambda x: x.split(",") if x != r"\N" else []
)

In [71]:
combined_df = combined_df.rename(
    columns={
        "tconst": "id",
        "titleType": "type",
        "averageRating": "rating",
        "primaryTitle": "title",
        "genres": "genres",
    }
)[["id", "title", "type", "rating", "genres"]]
combined_df

,id,title,type,rating,genres
0,tt0069049,The Other Side of the Wind,movie,6.7,[Drama]
1,tt0118926,The Dancer Upstairs,movie,6.8,"[Crime, Drama, Thriller]"
2,tt0120679,Frida,movie,7.3,"[Biography, Drama, Romance]"
3,tt0120681,From Hell,movie,6.7,"[Crime, Horror, Mystery]"
4,tt0120737,The Lord of the Rings: The Fellowship of the Ring,movie,8.9,"[Adventure, Drama, Fantasy]"
...,...,...,...,...,...
5228,tt9873892,They Cloned Tyrone,movie,6.6,"[Comedy, Mystery, Sci-Fi]"
5229,tt9881586,Rascal Does Not Dream of a Dreaming Girl,movie,8.2,"[Animation, Drama, Fantasy]"
5230,tt9883832,Moonage Daydream,movie,7.6,"[Biography, Documentary, History]"
5231,tt9883996,Dream Horse,movie,6.9,"[Biography, Comedy, Drama]"
5232,tt9900782,Kaithi,movie,8.4,"[Action, Crime, Thriller]"

In [72]:
combined_df.drop(columns='type')

,id,title,rating,genres
0,tt0069049,The Other Side of the Wind,6.7,[Drama]
1,tt0118926,The Dancer Upstairs,6.8,"[Crime, Drama, Thriller]"
2,tt0120679,Frida,7.3,"[Biography, Drama, Romance]"
3,tt0120681,From Hell,6.7,"[Crime, Horror, Mystery]"
4,tt0120737,The Lord of the Rings: The Fellowship of the Ring,8.9,"[Adventure, Drama, Fantasy]"
...,...,...,...,...
5228,tt9873892,They Cloned Tyrone,6.6,"[Comedy, Mystery, Sci-Fi]"
5229,tt9881586,Rascal Does Not Dream of a Dreaming Girl,8.2,"[Animation, Drama, Fantasy]"
5230,tt9883832,Moonage Daydream,7.6,"[Biography, Documentary, History]"
5231,tt9883996,Dream Horse,6.9,"[Biography, Comedy, Drama]"
5232,tt9900782,Kaithi,8.4,"[Action, Crime, Thriller]"

In [73]:
combined_df.head()

,id,title,type,rating,genres
0,tt0069049,The Other Side of the Wind,movie,6.7,[Drama]
1,tt0118926,The Dancer Upstairs,movie,6.8,"[Crime, Drama, Thriller]"
2,tt0120679,Frida,movie,7.3,"[Biography, Drama, Romance]"
3,tt0120681,From Hell,movie,6.7,"[Crime, Horror, Mystery]"
4,tt0120737,The Lord of the Rings: The Fellowship of the Ring,movie,8.9,"[Adventure, Drama, Fantasy]"

In [24]:
import re, requests

In [25]:
import requests
import zipfile
import io
import os
import re
import shutil  # For removing folders


def get_movie_words_zip(url):
    response = requests.get(url)

    if response.status_code == 200:
        extract_path = "extracted_srt"

        # Remove and recreate directory to avoid stale files
        if os.path.exists(extract_path):
            shutil.rmtree(extract_path)
        os.makedirs(extract_path)

        # Extract new ZIP file
        with zipfile.ZipFile(io.BytesIO(response.content)) as zip_file:
            zip_file.extractall(extract_path)

        words = []
        for file_name in os.listdir(extract_path):
            try:
                if file_name.endswith(".srt") or file_name.endswith(".ass"):
                    srt_path = os.path.join(extract_path, file_name)
                    print("Found SRT file:", srt_path)

                    with open(srt_path, "r", encoding="utf-8") as file:
                        for line in file:
                            # Remove timestamps and numbers
                            line = re.sub(r"\d+[:.,]?\d*[:.,]?\d*", "", line)

                            # Extract meaningful words
                            clean_words = re.findall(r"[a-zA-Z]+", line.lower())
                            words.extend(clean_words)

                    try:
                        shutil.rmtree(extract_path)
                    except:pass
                    return " ".join(words)  # Properly remove extra spaces
            except:
                pass

    else:
        print("Error: Request failed with status code", response.status_code)
        return None

In [26]:
def get_subtitiles(imdbid):
    imdbid = int(imdbid.replace("tt", ""))
    url = f"https://www.opensubtitles.org/en/search/sublanguageid-eng/imdbid-{imdbid}/rss_0_91"
    resp = requests.get(url)
    if not resp.status_code == 200:
        print("Error while request")
        return False
    match = re.search(r"(?<=en/subtitles/)\d+", resp.text)

    if not match:
        print("No subitiles found")
        return False
    subid = match.group()
    return get_movie_words_zip(
        f"https://dl.opensubtitles.org/en/download/sub/{subid}"
    )

In [27]:
combined_df.shape[0]

5233

In [67]:
combined_df['id'][0]

'tt11314148'

In [74]:
combined_df

,id,title,type,rating,genres
0,tt0069049,The Other Side of the Wind,movie,6.7,[Drama]
1,tt0118926,The Dancer Upstairs,movie,6.8,"[Crime, Drama, Thriller]"
2,tt0120679,Frida,movie,7.3,"[Biography, Drama, Romance]"
3,tt0120681,From Hell,movie,6.7,"[Crime, Horror, Mystery]"
4,tt0120737,The Lord of the Rings: The Fellowship of the Ring,movie,8.9,"[Adventure, Drama, Fantasy]"
...,...,...,...,...,...
5228,tt9873892,They Cloned Tyrone,movie,6.6,"[Comedy, Mystery, Sci-Fi]"
5229,tt9881586,Rascal Does Not Dream of a Dreaming Girl,movie,8.2,"[Animation, Drama, Fantasy]"
5230,tt9883832,Moonage Daydream,movie,7.6,"[Biography, Documentary, History]"
5231,tt9883996,Dream Horse,movie,6.9,"[Biography, Comedy, Drama]"
5232,tt9900782,Kaithi,movie,8.4,"[Action, Crime, Thriller]"

In [59]:
import requests
import zipfile
import io
import os
import re
import shutil
import concurrent.futures
import pandas as pd
import tempfile


def read_subtitle_file(srt_path):
    """Read the subtitle file with auto-detected encoding."""
    encodings = ["utf-8", "latin-1", "windows-1252"]  # Common subtitle encodings

    for enc in encodings:
        try:
            with open(srt_path, "r", encoding=enc) as file:
                return file.readlines()  # Successfully read file
        except UnicodeDecodeError:
            continue  # Try next encoding

    print(f"Error: Unable to decode {srt_path} with known encodings.")
    return []  # Return empty list if all fail


# Function to download and extract words from subtitles
def get_movie_words_zip(url):
    response = requests.get(url)
    # print(response)

    if response.status_code == 200:
        with tempfile.TemporaryDirectory() as extract_path:
            try:
                # Extract ZIP file
                with zipfile.ZipFile(io.BytesIO(response.content)) as zip_file:
                    zip_file.extractall(extract_path)

                words = []
                for file_name in os.listdir(extract_path):
                    if file_name.endswith(".srt") or file_name.endswith(".ass"):
                        srt_path = os.path.join(extract_path, file_name)

                        # Use encoding detection
                        lines = read_subtitle_file(srt_path)
                        for line in lines:
                            line = re.sub(
                                r"\d+[:.,]?\d*[:.,]?\d*", "", line
                            )  # Remove timestamps
                            clean_words = re.findall(
                                r"[a-zA-Z]+", line.lower()
                            )  # Extract words
                            words.extend(clean_words)

                return " ".join(words)  # Return extracted words
            except Exception as e:
                print(f"Error processing subtitles: {e}")

    else:
        print(f"Error code: {response.status_code}")


# Function to get subtitles from IMDb ID
def get_subtitles(imdbid):
    imdbid = int(imdbid.replace("tt", ""))
    url = f"https://www.opensubtitles.org/en/search/sublanguageid-eng/imdbid-{imdbid}/rss_0_91"

    try:
        resp = requests.get(url)
        if resp.status_code != 200:
            return None

        match = re.search(r"(?<=en/subtitles/)\d+", resp.text)
        if not match:
            return None

        subid = match.group()
        # print(f"Subid: {subid}")
        return get_movie_words_zip(
            f"https://dl.opensubtitles.org/en/download/sub/{subid}"
        )

    except Exception as e:
        print(f"Error fetching subtitles for {imdbid}: {e}")
        return None


# Function to process subtitles concurrently
def process_subtitles(index, imdbid):
    words = get_subtitles(imdbid)
    return index, words

In [48]:
combined_df["subtitles"] = None

In [75]:
with concurrent.futures.ThreadPoolExecutor(max_workers=1000) as executor:
    futures = {
        executor.submit(process_subtitles, i, combined_df["id"][i]): i
        for i in range(10,100)
    }

    for future in concurrent.futures.as_completed(futures):
        index, words = future.result()
        # print(words)
        if words:
            combined_df.at[index, "subtitles"] = words
        else:
            combined_df.drop(index, inplace=True)  # Remove row if no subtitles found

combined_df.reset_index(drop=True, inplace=True)

C:\Users\nithi\AppData\Local\Temp\ipykernel_20752\868521739.py:11: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'watch online movies and series for free www osdb link lm place your bets gentlemen and ladies all bets off red place your bets for the staff thank you all bets off black all bets off red we have a spanish client cleaning us out on table seat number six the old man wants to proceed as usual he s wearing a blue blazer a purple and gold striped tie sorry i took you for someone else forgive me black no winner federico they ve gone how many laps did you do today six you re out of shape i ve come to say goodbye the last couple of days i ve woken up with a pain in my chest i can t get my breath it won t be long now you won t die of old age you think someone could beat me you keep on playing just looking after the business with every game you put it in danger believe me i m not going to lose the casino the money the captives they ll all be yours i don t want anything i haven t won you re going to do the circuit you want to play against me you have no chance your gift isn t strong enough you don t know that i ve known you since you survived that earthquake remember or was it maybe somebody else who took you under his wing who fed you paid your way through school made you somebody my luck saved me you told me that i m not gonna sacrifice you i taught you how to use that luck now you think you re luckier than me huh i ve raised a fool sit down you re the only one i allow to see my face federico have you had dinner yet no not yet grab a shower i ll buy you dinner i can t make it tonight other plans you re leaving federico without even a hug don t do it your gift i discovered and your gift i take away now you can leave goodbye federico now that the old man has deactivated him we can put our hands on him without getting jinxed seven years later his name s tomas sanz he wasn t traveling alone what about this cut it open nurse i put up with my mother in law for three months she finally croaks and her associate gives her pesetas but my wife loses the check she said it was all my fault that i was bad luck i blew up that fuck up was suddenly my fault do you have a picture of her i ll find one i kicked her out of the house she slammed the door and all the papers went flying up in the air suddenly a check for pesetas comes landing on my lap what do you think of that federico am i lucky or what are you going to keep it what the check what do you think horacio caparros you are a lucky man no give it to me later i federico it s claudia pick up the phone i i i found fresh meat in that plane crash i i well too bad i i since you re on vacation they passed the file on to me i i tough luck old man huh i i if you want it it ll cost you double i they re not all dead all that for a measly million pesetas or half if he survives if he had signed up for our life insurance plan he d get five or six times as much that is or even million that s money thank you claudia hi old man hello is that enough it s purely routine he s under arrest for theft i know will he get some money he survived a horrific experience that money is his wait until he s made his statement please i just need to make sure he signs it and i won t bother him anymore how much how much what how much will he get million do you think that will make up for such trauma that s what he was awarded still a bargain for the airline two minutes good evening good evening i m with the insurance company i need to frisk you thanks i have the check sign here and it s yours may i she s beautiful what will you do with the money excuse me how will you spend it you ll cash the check in two days yes it won t be of much use where you re going when i m worried i take out my cards it kills time and helps me clear my mind sometimes just shuffling them makes my troubles go away if you draw an ace i ll get you out of here one hand doesn t cost you anything tomas sanz you are a lucky man sure don t doubt it there s one chance in a million for a plane to crash and for it to crash leaving you the only survivor out of how many passengers one chance in million one more time no bets either you play for me and you re a free man play play what sorry your time s up one second we re almost done so will you sign it or not we ll place our first bet with your compensation then we ll play with our gains in the end we ll split everything what if i lose that won t happen and what if it happens you re free to walk away how long will that last two weeks at the most i don t know how to play don t you worry you don t need any talent to play just remember two things don t ever touch me why not just a thing i have and never take my picture we don t need any souvenirs remember it good evening have they started yet no do you want to see his id yes i don t know him i the plane lost contact with the control tower i i minutes after takeoff i i the black box which was recently retrieved i i should shed some light on the events preceding the accident i i the casualty figures stand i i at passengers and six members of the crew i i the only person alive tomas sanz i i was arrested by the police i are you here of your own free will i accused of robbing a bank two months ago i what does it feel like when a plane is going down i was asleep come on you re pulling my leg what s this what s that smell molasses that s his favorite right place your bets please i m sorry federico you can t be here he s new get him started and go here what s this no money bets it s not money it s a jewel the indemnity of the only survivor of the plane crash that s right i knew i d seen you before i won t play against him even this won t do one of your fingers would be a nice trophy if he agrees we re game good idea so federico let s play wait forget it come on wait what about my finger you won t lose it right get lost those guys they re fucking amateurs who won a bingo game or fell from the second floor they have no chance against you i won t do it fuck you survived a plane crash i helped you get out of the hospital isn t that luck and so what all you need in there is luck but i m not stupid you are lucky and you can control that luck you re fucking insane let me go or i ll touch you let me pass why do you think you re the only survivor tell me why there were good people on that plane what saved you a thief god chance that doesn t exist for you your gift is to steal other people s luck otherwise you d be dead right i believe in you but if you don t there s nothing else to say you can keep the money you messed up because of a finger i would have wagered with you it s yours place your hands on the table gentlemen remove the scarves do not move please hello hello i you re still playing i who is this i are you still playing i what do you think federico you won t die of old age what with a bug on my head i made more in one night than in a lifetime of risking my ass you could have lost a finger so could you no after they d cut yours off i d have taken off you can run away from them but not from me i m glad you like the game how do we split that thing wise guy fall and winter for you spring and summer for me very funny i ll go look for a bedroom i this is ana leave a message at the tone i hello ana it s me are you there i ana i i are you there i okay well nothing i hope you re well thank god you didn t come with me i i shouldn t have taken that damn plane i i i am glad that we re both alive i i very glad i i miss you i m sorry i m sorry come on run come on up i can t do it i m too old for that come on give it to me come on give it to me come on don t touch me give it to me come on don t you ever touch me again ever i thought it was safe to call from a payphone next time just tell me and we ll do it the smart way what s her name ana is that the girl in the picture yes wasn t she going with you she missed the plane how lucky how did she miss it we need a phone we have to tell the bullfighter only fear makes for a great fight for a real bullfighter it s not the fear of losing but the fear of suffering your own suffering and that of those around you it is that fear that drives you to really fight why quit you were never injured i lost my fear of the bull you can t fight the bull without fear hello hello alejandro dominguez i know can i have a word give me a moment sure this is not the first time the alarm didn t go off i always forget to set it it happens i m getting old i forget things no need to justify yourself will it be long no i ll be right with you thank you leave it there please sara we found tomas sanz s fingerprints in the car and his accomplice nothing the doors and windows haven t been forced how did they get in through the walls or with a key have you shown us the whole house i dominguez has a clean record i i and no connection with those guys i okay goodbye little bull goodbye leave me alone what the fuck were you going to martinique for i was fleeing and then what i was going to open a business on the beach when we re done the caribbean won t be a luxury what will we bet i haven t decided yet we ll be back for lunch next month see you then wait i m going to stay thanks for everything good evening good evening you broke the window what turn around spread your legs and put your hands on the car what s going on did you hear me i m going to handcuff you right arm first no need to touch me behind your back quit touching me let me go you ll do to me what you did to your husband and daughter what the scar you are famous among your colleagues you should be dead but you saved yourself where is tomas sanz your good luck is someone else s misery right tomas sanz let s make a deal i take you to him and you forget about me you spent your insurance money on that will it do yes what did tomas do to you wait till he reaches the jew who the jew he survived a concentration camp and lives in a casino if he touches you your gift is gone you become normal but i don t believe that we are the way we are tonight we ll play with the captives morons who let us bring them bad luck all you do is touch them as much as possible to steal the little luck they might have then we roll the dice and the highest number wins i it s going to rain like hell i i you should have brought warmer clothes i i bad mummy i what s wrong don t you have anything to say id please for the death of a spouse for the death of a child place your bets please is it authentic what will we wager my house what now during the game think of something nice it ll go better if you re relaxed think of the good times you ve had in your life with ana for instance why don t you play i don t have the gift are you sure if you don t have it you re nobody the guy with tomas is older gentlemen pick your captives they should be here the next game s in two weeks let s go no you d be out of the game for good please move forward this is the only way to get to him the man with the gray hair the man with the gray hair please move forward i come closer to the window i pick the one that turns you on the most the man with the orange sweater the man with the orange sweater please move forward the winner gets the wagers plus the captives scarves don t you worry this is the best part well let s start don t start yet miss move forward your hand please six and four your hand please three and two five on the ground this game s invalidated she was in the hospital when i woke up it s all good she pointed her gun at me twice but she didn t arrest you you bitch you fucked me over you should have arrested him after the game you don t deserve your gift what about this it s ours put it away what s up with that we wager people now got a problem with that that girl what will happen to her she ll probably die from a cold come on honestly i don t know the picture the kiss she must have a crush on you what you stole her good luck through the picture she s yours now from now on we ll wager people s luck the more pictures the more luck for you you don t believe me do you some sickos like to wager people s pictures it s the easiest way for you to make money and leave well i don t like it i won t play that way i don t see any other way it s up to you you accept it and stay or you go rob another bank but hurry up that cop will soon come to her senses you asshole i m only taking care of business file horacio caparros i place your bets please i wait for me in the woods are you ready did you wager it all i play to win the check too after tonight no more running away no more sleeping in the car and eating shit after tonight we re off to ucanca for the last game ucanca what we ll win there is way bigger it s a question of dignity of getting what you want and earning respect i like that what respect i like that you actually have a reason for doing this when you win in ucanca you ll be the luckiest man on earth and our work will be done well you ll buy me a drink or now try to concentrate everyone here would kill to go to ucanca come on faster run come on run go go come on only two left come on come on stop alejandro you are the winner federico federico i want someone to open the door for me it s wide open please can you drop me off at the train station what is she doing here what the fuck is she doing here put that back where it was put it in the briefcase sorry but she s mine get out beat it i m sorry this should have never happened you wouldn t be here if we had found tomas ana you have to help me talk to me let s start from the beginning why didn t you take that plane it didn t do you any good to leave him and escape the accident because he survived too and look where that led you your bad luck is tomas fault he can go to hell i don t believe you he prevented me from taking that plane at the airport he said i don t love you anymore he saved my life what did you say i don t love you anymore is something wrong why do we have a copy of caparros file the court required one what for his ex wife filed a complaint against the insurance company he committed suicide but she wants the insurance money and van kuipp life refuses to pay van kuipp life it s the insurance company from the plane crash that s mine good evening are you claudia yes i am wait don t hang up i hear you re in charge of caparros and sanz s files that s right but i spoke with someone else at the hospital you son of a bitch you son of a bitch tough luck tough luck right what will happen to ana now we can get her back how so wager and win her picture back but the guy s off to ucanca it belongs to someone else now to whom samuel berg the jew how do you know he s the fucking king of fate no one has survived ucanca in years you bastard that s where you were taking me you shouldn t have lost that s why i wagered ana what s the game you re given a gun loaded with five bullets you shoot first if you kill him you win if not the jew shoots five to one could be worse the guy who got luckier than you died i make the decisions who will you wager they took a plane to ucanca why are you bringing me a loser don t play g rard told me you used his girlfriend without his knowledge nobody s ever come here out of love your boy deserves to play i don t usually talk to the people who come to play but this time i want to make an exception look at this every morning the door of the barrack got opened and they took a few out first the oldest then our parents then the brothers and sisters in a couple of weeks there were only about of us left all children suddenly they just stopped coming then one day a man appeared he was not a guard he was wearing a sand colored suit spotless it was and he held a black handkerchief to his nose we didn t smell too good you see and one by one he took us by the arm and jolted our numbers down in his notebook we would be called and reunited with our parents and then he left and never came back but the guards returned they lined us up and shouted a number i looked at my arm it wasn t me it was one of the others and as he walked through the door he turned and looked at us all thrilled to bits that he had won and disappeared and so on every day another number or two or none sometimes they would just stand looking at us and then leave in the end only daniel and i were left for four days alone and we talked we talked a lot daniel knew things he used to help his father at the watchmaker s shop did you know that if you stare at the minute hand hard enough you can see it move that photo is of helena his sister daniel knew that it wasn t our parents who would wait for us outside and the day the door opened again i took my friend s hand and i closed my eyes willing it not to be my number when daniel let go of me i couldn t open my eyes again i didn t want to look at him face to face he just said to me it s yours and walked off and he left the photo in my hand the next time the door opened the uniforms had changed well if you re ready i think it s time to play i found an elevator leading to the basement roberto carlos javier can you hear me federico you have to go have faith remember that you came out intact i don t love you anymore let s get out of here your work is done leave now god damn it federico our work is done come on we won i you i won take care of yourself i sara are you there i to my father watch any video online with open subtitles free browser extension osdb link ext' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  combined_df.at[index, "subtitles"] = words

Error code: 429
Error code: 429
Error code: 429
Error code: 429

In [77]:
combined_df

,id,title,type,rating,genres,subtitles
0,tt0069049,The Other Side of the Wind,movie,6.7,[Drama],NaN
1,tt0118926,The Dancer Upstairs,movie,6.8,"[Crime, Drama, Thriller]",NaN
2,tt0120679,Frida,movie,7.3,"[Biography, Drama, Romance]",NaN
3,tt0120681,From Hell,movie,6.7,"[Crime, Horror, Mystery]",NaN
4,tt0120737,The Lord of the Rings: The Fellowship of the Ring,movie,8.9,"[Adventure, Drama, Fantasy]",NaN
...,...,...,...,...,...,...
5170,tt9873892,They Cloned Tyrone,movie,6.6,"[Comedy, Mystery, Sci-Fi]",NaN
5171,tt9881586,Rascal Does Not Dream of a Dreaming Girl,movie,8.2,"[Animation, Drama, Fantasy]",NaN
5172,tt9883832,Moonage Daydream,movie,7.6,"[Biography, Documentary, History]",NaN
5173,tt9883996,Dream Horse,movie,6.9,"[Biography, Comedy, Drama]",NaN
5174,tt9900782,Kaithi,movie,8.4,"[Action, Crime, Thriller]",NaN